doctype html
html(lang="en")
	head
		link(rel='stylesheet' href='stylesheets/button.css')
		title="HomeGuard"
	body(bgcolor="fffafa")
		h1(align="center") HomeGuard
			p(align="center")
				a(href="/takepicture", class="button") Take a picture
				
			
		