doctype html
html(lang="en")
	head
		link(rel='stylesheet' href='stylesheets/button.css')
		title="HomeGuard"
	body(bgcolor="fffafa")
		h1(align="center") HomeGuard
		form(name="take_picture", method="get", action="/takepicture")
			p(align="center")
				input(type="submit", class="button", value="Take a picture") 
				
			
		