<!doctype html>
<html>
<head>
	<title>HomeGuard - Streaming</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
	
	<script>
	$(document).ready(function(){
		setInterval(
			function(){			
				// $("streamDiv").find("streamImg").load(function(){
					$("#streamImg").attr("src","<%=image%>?"+new Date().getTime());
					// $(this).closest("streamDiv").show(500);
				// });
				// $("#streamImg").attr("src","<%=image%>?"+new Date().getTime());
			}, 1300);
	});
	</script>

	<style>
		body 		{ padding-top:20px; }
	</style>
</head>
<body>
<div class="container">
	<div id="div_holder" style="background-color: #FFF">
	<div id="streamDiv" class="jumbotron text-center" style="background-color: #002952">
		<h1 style="color: #FFFFFF">HomeGuard</h1>
		<img id="streamImg" src="" height="500"><br><br>
		<a href="/takepicture" class="btn btn-primary btn-lg">Take Picture</a>

	</div>
	</div>
</div>
</body>
</html>	