<!doctype html>
<html>
<head>
	<title>HomeGuard - Take Picture</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:20px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center" style="background-color: #002952">
		<h1 style="color: #FFFFFF">HomeGuard</h1>
		<img src=<%= image %> height="500"><br><br>
		<a href="/takepicture" class="btn btn-primary btn-lg">Take Picture</a>

	</div>

</div>
</body>
</html>	